.form-label {
  @apply .mb-2 .block .text-grey-darkest .select-none;
}

.form-input,
.form-textarea,
.form-select {
  @apply .p-2 .leading-normal .block .w-full .border .text-grey-darkest .bg-white .font-sans .rounded .text-left .appearance-none .relative;

  &:focus,
  &.focus {
    @apply .border-blue;
    box-shadow: 0 0 0 1px config('colors.indigo');
  }

  &::placeholder {
    @apply .text-grey-dark .opacity-100;
  }
}

.form-select {

  &::-ms-expand {
    @apply .opacity-0;
  }
}

.form-error {
  @apply .text-red .mt-2 .text-sm;
}

.form-input.error,
.form-textarea.error,
.form-select.error {
  @apply .border-red-light;

  &:focus {
    box-shadow: 0 0 0 1px config('colors.red');
  }
}

.md-menu-content-container {
    @apply .rounded;
}

.md-field {
    padding-top: 0px;
    margin: 0px;

    &:after, &:before {
        height: 0;
     }
}
